
.emacs.d/var/auto-save/\#\!home\!isac\!Downloads\!Telegram Desktop\!org\!improvement-todos.org\#
.emacs.d/var/auto-save/sessions/12807-archlinux~
.emacs.d/var
.emacs.d/eln-cache
.emacs.d/elpa
.emacs.d/etc
.emacs.d/tree-sitter

